/* line 52, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container div, .ad-brand-connect-module-container span, .ad-brand-connect-module-container applet, .ad-brand-connect-module-container object, .ad-brand-connect-module-container iframe,
.ad-brand-connect-module-container h1, .ad-brand-connect-module-container h2, .ad-brand-connect-module-container h3, .ad-brand-connect-module-container h4, .ad-brand-connect-module-container h5, .ad-brand-connect-module-container h6, .ad-brand-connect-module-container p, .ad-brand-connect-module-container blockquote, .ad-brand-connect-module-container pre,
.ad-brand-connect-module-container a, .ad-brand-connect-module-container abbr, .ad-brand-connect-module-container acronym, .ad-brand-connect-module-container address, .ad-brand-connect-module-container big, .ad-brand-connect-module-container cite, .ad-brand-connect-module-container code,
.ad-brand-connect-module-container del, .ad-brand-connect-module-container dfn, .ad-brand-connect-module-container em, .ad-brand-connect-module-container img, .ad-brand-connect-module-container ins, .ad-brand-connect-module-container kbd, .ad-brand-connect-module-container q, .ad-brand-connect-module-container s, .ad-brand-connect-module-container samp,
.ad-brand-connect-module-container small, .ad-brand-connect-module-container strike, .ad-brand-connect-module-container strong, .ad-brand-connect-module-container sub, .ad-brand-connect-module-container sup, .ad-brand-connect-module-container tt, .ad-brand-connect-module-container var,
.ad-brand-connect-module-container b, .ad-brand-connect-module-container u, .ad-brand-connect-module-container i, .ad-brand-connect-module-container center,
.ad-brand-connect-module-container dl, .ad-brand-connect-module-container dt, .ad-brand-connect-module-container dd, .ad-brand-connect-module-container ol, .ad-brand-connect-module-container ul, .ad-brand-connect-module-container li,
.ad-brand-connect-module-container fieldset, .ad-brand-connect-module-container form, .ad-brand-connect-module-container label, .ad-brand-connect-module-container legend,
.ad-brand-connect-module-container table, .ad-brand-connect-module-container caption, .ad-brand-connect-module-container tbody, .ad-brand-connect-module-container tfoot, .ad-brand-connect-module-container thead, .ad-brand-connect-module-container tr, .ad-brand-connect-module-container th, .ad-brand-connect-module-container td,
.ad-brand-connect-module-container article, .ad-brand-connect-module-container aside, .ad-brand-connect-module-container canvas, .ad-brand-connect-module-container details, .ad-brand-connect-module-container embed,
.ad-brand-connect-module-container figure, .ad-brand-connect-module-container figcaption, .ad-brand-connect-module-container footer, .ad-brand-connect-module-container header, .ad-brand-connect-module-container hgroup,
.ad-brand-connect-module-container menu, .ad-brand-connect-module-container nav, .ad-brand-connect-module-container output, .ad-brand-connect-module-container ruby, .ad-brand-connect-module-container section, .ad-brand-connect-module-container summary,
.ad-brand-connect-module-container time, .ad-brand-connect-module-container mark, .ad-brand-connect-module-container audio, .ad-brand-connect-module-container video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 55, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 57, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container caption, .ad-brand-connect-module-container th, .ad-brand-connect-module-container td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 59, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container q, .ad-brand-connect-module-container blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container q:before, .ad-brand-connect-module-container q:after, .ad-brand-connect-module-container blockquote:before, .ad-brand-connect-module-container blockquote:after {
  content: "";
  content: none;
}
/* line 61, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ad-brand-connect-module-container a img {
  border: none;
}

/* line 7, ../sass/style.sass */
.ad-brand-connect-module-container {
  width: 336px;
  height: 850px;
  position: relative;
  margin: 0 auto;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  /* CSS3 mixin example: */
}
/* line 16, ../sass/style.sass */
.ad-brand-connect-module-container .dark-shadow {
  -webkit-box-shadow: black 0 0 5px 1px;
  -moz-box-shadow: black 0 0 5px 1px;
  box-shadow: black 0 0 5px 1px;
}
